.container {
  padding: 2rem 6rem;
}

.flex {
  display: flex;
}

.flex-row {
  flex-direction: row;
}

.w-1-2 {
  width: 50%;
}

.h-full {
  width: 100%;
}

.h-screen {
  height: 100vh;
}

.p-4 {
  padding: 1rem;
}

.text-center {
  text-align: center;
}
